// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Muli:400,600,700');


// Font mixins

@mixin light-condensed-italic{
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	font-weight: 300;
}

@mixin light-condensed{
	font-family: 'Roboto Condensed', sans-serif;
	font-style: normal;
	font-weight: 300;
}