// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
a.button-green {
    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px #ccc;
    &:hover {
        background: -webkit-linear-gradient(#28ee9e, #0db0e2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.button-green {
    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #47c9c9), to(#81cf8b));
    background: linear-gradient(to right, #47c9c9 5%, #81cf8b 100%);
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px #ccc;
    &:hover {
        background: -webkit-linear-gradient(#28ee9e, #0db0e2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.morecontent span {
    display: none;
}