// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer#prop-deta {
    background: #f3f3f3;
    padding-top: 55px;
    .footer-section {
	    padding: 20px 0;
	}
	.keep-touch {
	    width: 25%;
	    display: inline-block;
	    float: left;
	    a {
	    	display: block;
		    color: #a09e9e;
		    margin: 20px 0;
		    &:hover {
	    	    color: #DAA520;
    			text-decoration: underline;
		    }
	    }
	    h3 {
	    	font-size: 20px;
    		font-weight: 600;
	    }
	    &.logo-foot {
	    	img {
    		    width: 100px;
    			margin: 0 auto;
	    	}
	    	a {
    		    font-size: 20px;
    		    i {
		    	    margin-right: 9px;
    		    }
	    	}
	    	ul {
    		    padding: 0;
    		    li {
		    	    display: inline-block;
		    	    i {
	    	    	    border: 3px solid;
					    padding: 10px;
					    border-radius: 50px;
		    	    }
    		    }
	    	}
	    	a.app-store {
			    margin: 0 !important;
			    display: inline-block !important;
			    img {
			    	width: 125px !important;
    				height: 45px;
			    }
			}
	    }
	}
}
.up-date {
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    padding: 45px;
    margin: 0px auto 50px;
    background: #fff;
    h3 {
	    margin: 0 0 20px;
	    font-size: 27px;
	    color: #DAA520;
    }
    span.pull-right {
	    width: 50%;
	    margin: 20px 0 0 50px;
	    text-align: right;
	    label {
	    	width: 63%;
		    border: 1px solid #ccc;
		    position: relative;
		    border-radius: 3px;
		    input {
		    	padding: 15px;
			    width: 100%;
			    border: 0;
		    }
		    i {
		    	position: absolute;
			    right: 10px;
			    top: 13px;
			    font-size: 21px;
			    color: #DAA520;
		    }
	    }
	    button {
    	    width: 26%;
		    padding: 13px;
		    border: 0;
		    background: #DAA520;
		    color: #fff;
		    font-size: 18px;
		    margin: 10px;
	    }
	}
}
.copy-right {
    color: #7f7f7f;
    background: #fff;
    border-top: .1rem solid #e9e9e9;
    width: 1170px;
    margin: 0 auto;
    span {
	    padding: 15px;
	    a {
		    font-size: 10px;
		    margin-right: 21px;
		    color: #ccc;
		    &:hover {
	    	    color: #DAA520;
    			text-decoration: underline;
		    }
		}
	}
}