// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.hero-area{
    background: linear-gradient(dodgerblue,#0070DF);
    text-align: center;
    padding: 15px;
    
    min-height: 100vh;
    
    @include media-width(650){ min-height: 40vh }
    
    display: flex;
    margin-bottom: 8em;
    h1,p{
        color: #FFFFFF;
    }
    .hero-content{
        margin: auto;
        text-transform: uppercase;
        span{
            background-color: #fff;
            color: dodgerblue;
            padding: 0 2px;
            border-radius: 3px;
        }
        h1{
            font-size: 6em;
            text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            @include media-width(1109){font-size: 5em;}
            @include media-width(932){font-size: 4em;}
            @include media-width(754){font-size: 3.5em;}
            @include media-width(600){font-size: 2.5em;}
        }
        p{
            font-size: 2em;
            line-height: 2em;
            @include media-width(600){font-size: 1.3em;}
        }
    }
}


.page-title{
	padding: 15px 0;
	margin: 35px auto;
	h1{
		font-size: 75px;
		@include media-width(1999){
			font-size: 60px;
		}
		@include media-width(991){
			font-size: 45px;
		}
		@include media-width(717){
			font-size: 40px;
		}
		@include media-width(642){
			font-size: 30px;
		}
		@include media-width(400){
			font-size: 25px;
		}
		@include media-width(341){
			font-size: 20px;
		}
	}
	@include media-width(599){
		width: 95%;
	}
}
a:focus {
    text-decoration: none;
}
body.modal-open {
    padding: 0 !important;
    overflow: hidden !important;
    padding-right: 17px !important;
}
body {
    padding: 0 !important;
}
.modal-content {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.modal.fade.in .modal-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
button:focus {
    outline: 0px !important;
}
a.logo {
    float: left;
    width: 25%;
    img {
        width: 100px;
        margin: 10px 0 0 0;
    }
}
.page-menu {
    float: left;
    width: 75%;
    margin: 20px 0 0 0; 
    ul.social-login {
        padding: 0;
        text-align: right;
        margin: 10px 0 10px;
        li {
            display: inline-block;
            margin: 0 20px;
        }
    }
    ul {
        padding: 0;
        text-align: right;
        margin: 0;
        li {
            display: inline-block;
            margin: 20px;
            a {
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
}
.floating-label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 8px;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    opacity: 0.5;
    font-size: 13px;
}
input:focus ~ .floating-label, input:not(:focus):valid ~ .floating-label {
    top: -10px;
    bottom: 10px;
    left: 10PX;
    font-size: 11px;
    opacity: 1;
}
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}
#login_pop, #register_pop, #agent_pop {
  z-index: 33333333;
  .modal-dialog {
    width: 1000px;
    display: flex;
    margin: 10vh auto;
    border-radius: 4px;
    button.close {
        position: absolute;
        top: -20px;
        right: -20px;
        background: #DAA520;
        padding: 8px 10px;
        opacity: 1;
        color: #fff;
        border-radius: 50%;
        z-index: 1;
      }
    .add-sec {
      text-align: center;
      padding: 0;
      background: #fff;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
        img {
          height: 550px;
          margin: 0;
        }
        &:after {
            content: "";
            position: absolute;
            background-image: linear-gradient(to right, rgba(218, 165, 32, 0.71), rgba(0, 0, 0, 0.5));
            width: 100%;
            height: 550px;
            top: 0;
            left: 0;
        }
    }
    .click-log {
      border-left: 1px solid rgba(152, 152, 152, 0.26);
      padding: 50px 30px 0 30px;
      background: #fff;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      img {
        width: 70%;
      }
      p {
        color: #989898;
      }
      h2 {
        color: goldenrod;
        font-size: 25px;
      }
      span#password-eye {
          position: absolute;
          top: 10px;
          right: 15px;
          cursor: pointer;
      }
      form {
        margin-top: 50px;
        .form-group {
          margin-bottom: 30px;
          padding: 0 10px;
          input {
            border: 0px;
            box-shadow: none;
            border-bottom: 1px solid #ccc;
            border-radius: 0px;
          }
          span {
            cursor: text;
            padding-left: 0;
            font-weight: 500;
          }
        }
        .button-submit {
          span {
            padding:  0;
              input {
              background: #DAA520;
              color:  #fff;
              border:  0;
              width: 60%;
              padding: 7px;
              border-radius: 5px;
              font-size: 15px;
            }
            a {
              margin: 6px 0;
              display:  block;
            }
          }
        }
      }
    }
  }
}
#register_pop .modal-dialog .click-log form .passy-sec .form-group, #agent_pop .modal-dialog .click-log form .passy-sec .form-group {
    margin-bottom: 0 !important;
}
#register_pop .modal-dialog .click-log form .passy-sec p, #agent_pop .modal-dialog .click-log form .passy-sec p {
    font-size: 11px;
    display: inline-block;
    margin-left: 10px;
}
#register_pop .modal-dialog .click-log h2, #agent_pop .modal-dialog .click-log h2 {
    color: goldenrod;
    font-size: 25px;
    margin: 0;
}
#register_pop .modal-dialog .click-log span#password-eyes {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
#agent_pop .modal-dialog .click-log .passy-sec .form-group span#password-yes {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
.back-to-login {
    clear: both;
    margin: 20px 0 0;
    display: inline-block;
}
.agent-info {
    position: relative;
    margin-bottom: 20px;
    input {
      border: 0px;
      box-shadow: none;
      border-bottom: 1px solid #ccc;
      border-radius: 0px;
    }
    label {
      cursor: text;
      padding-left: 0;
      font-weight: 500;
    }
}

#agent_pop .modal-dialog .click-log form {
    margin-top: 10px;
}
.agent_upload label.bussiness-field {
  margin-top: 0;
  border: 2px dashed #c5c2c2;
  color: #555555;
  height: 120px;
  position: relative;
  cursor: pointer;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.agent_upload {
  padding-right: 0;
}
label.bussiness-field h3 {
    margin: 1.5rem;
    word-wrap: break-word;
    font-size: 14px;
    color: #daa520;
}
input#bussiness_licience {
  position: absolute;
  z-index: -1;
  max-width: 95%;
  display: none;
}
.agent_upload label.bussiness-field figure {
    margin: 1em;
}
input:focus {
    outline: 0px;
}
#register_pop .modal-dialog .click-log form .register-mobile .form-group {
    margin: 0;
    padding-left: 0;
}
#register_pop .modal-dialog .click-log form .register-mobile .form-group:last-child {
    margin: 0;
    padding-right: 0;
}
#agent_pop .modal-dialog .click-log form .register-mobile .form-group {
    margin: 0;
    padding-left: 0;
}
#agent_pop .modal-dialog .click-log form .register-mobile .form-group:last-child {
    margin: 0;
    padding-right: 0;
}