.home-banner {
    height: 675px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0px;
    &:after {
	    content: "";
	    background: rgba(49, 43, 43, 0.25);
	    position: absolute;
	    width: 100%;
	    height: 675px;
	    top: 0;
    }
}
.banner-section {
    position: absolute;
    top: 25%;
    left: 27em;
    h1 {
	    color: #fff;
	    font-size: 50px;
	}
	h2 {
	    color: #fff;
	}
	.search-result {
	    margin: 20px 0 0 0;
		width: 100%;
		select {
		    width: 18%;
		    float: left;
		    height: 50px;
		    border: 0;
		    border-radius: 0;
		    border-right: 1px solid #ccc;
	        cursor: pointer;
            box-shadow: none;
		}
		input {
			padding: 15px;
		    border: 0;
		    width: 67%;
		}
		button {
			background: #DAA520;
		    border: 0;
		    padding: 15px;
		    width: 14%;
		    color: #fff;
		    text-transform: uppercase;
		}
	}
	.filter-search {
	    text-align: right;
	    width: 85%;
	    button {
	    	background: #DAA520;
		    border: 0;
		    padding: 10px;
		    border-radius: 0;
		    display: inline-block;
		    float: right;
		    color: #fff;
		    margin: 5px 0 0 10px;
	    }
	    img {
    		margin: 100px auto;
	    }
	    div#adv_search {
		    select {
			    width: 20%;
			    float: left;
			    height: 50px;
		        border: 0.1px solid #DAA52014;
			    border-radius: 0;
			    cursor: pointer;
		        box-shadow: none;
			}
		}
	}
}
.back-bg {
    background-color: #f3f3f3!important;
    display: inline-block;
    width: 100%;
    .home-section {
    	h2 {
    		font-size: 25px;
    		margin-bottom: 0;
    	}
		.resiential-properties {
			padding: 0px;
			.each-props {
			    background: #fff;
			    width: 47%;
			    display: inline-block;
		        margin-right: 2% !important;
		        border-radius: 10px;
		        padding: 15px;
    			margin: 45px 0;
			    text-align: center;
		        position: relative;
		        vertical-align: middle;
			    -webkit-transform: perspective(1px) translateZ(0);
			    transform: perspective(1px) translateZ(0);
			    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			    -webkit-transition-duration: 0.3s;
			    transition-duration: 0.3s;
			    -webkit-transition-property: transform;
			    transition-property: transform;
			    &:hover {
		    	    -webkit-transform: scale(1.05);
    				transform: scale(1.05);
			    }
    			figure {
				    position: absolute;
				    height: 250px;
				    width: 372px;
				    top: -31px;
				    overflow: hidden;
				    display: flex;
				    img {
					    border-radius: 10px;
					}
				}
				h3 {
			        margin-top: 10.5em;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    overflow: hidden;
				    font-size: 20px;
				}
				ul {
					padding: 0;
					li {
						display: inline-block;
					    margin: 0 20px;
					    color: #ccc;
					    i {
				    	    margin-right: 5px;
					    }
					}
				}
				span {
				    display: block;
				    color: #ccc;
				    width: 100%;
				    margin: 0 0 10px;
				}
				a.call-back {
					display: inline-block;
				    margin: 0 7px;
				    background: #DAA520;
				    width: 25%;
				    padding: 8px;
				    border-radius: 20px;
				    color: #fff;
			        font-size: 13px;
				    i {
			    	    margin-right: 5px;
				    }
				}
				small {
					float: left;
				    font-size: 25px;
				    color: #DAA520;
				    font-weight: 600;
				}
				main {
					float: right;
				    margin: 7px 0;
				    color: #ccc;
				    font-size: 12px;
				}
			}
		}
		.properties-advertise {
		    padding: 0;
		    vertical-align: middle;
		    -webkit-transform: perspective(1px) translateZ(0);
		    transform: perspective(1px) translateZ(0);
		    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		    -webkit-transition-duration: 0.3s;
		    transition-duration: 0.3s;
		    -webkit-transition-property: transform;
		    transition-property: transform;
		    &:hover {
	    	    -webkit-transform: scale(1.05);
				transform: scale(1.05);
		    }
		    figure {
		    	display: flex;
			    align-items: flex-start;
			    width: 100%;
			    height: 250px;
			    overflow: hidden;
		    }
		}
	}
	.lets-guide {
		h2 {
    		font-size: 25px;
    	}
		ul {
			padding: 0px;
			li {
				display: inline-block;
			    width: 32%;
			    float: left;
			    margin-right: 2%;
			    text-align: center;
			    &:last-child {
		    	    margin: 0;
			    }
			    figure {
			    	display: flex;
				    width: 100%;
				    height: 231px;
				    align-items: center;
				    overflow: hidden;
				    border-radius: 10px;
				    vertical-align: middle;
				    -webkit-transform: perspective(1px) translateZ(0);
				    transform: perspective(1px) translateZ(0);
				    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
				    -webkit-transition-duration: 0.5s;
				    transition-duration: 0.5s;
				    &:hover {
			    	    -webkit-transform: scale(1.05);
					    transform: scale(1.05);
					    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
					    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
				    }
			    }
			    h3 {
		    	    font-size: 16px;
			    }
			}
		}
	}
}
