.add_property {
	.property-add {
	    margin: 10px;
	    display: inline-block;
	    width: 100%;
	    h3 {
    	    font-size: 17px;
    	    color: goldenrod;
	        margin: 10px 0;
	    }
		.form-area {
		    margin: 0;
			label {
				display: block;
			    font-size: 13px;
			    color: #777;
			    font-weight: 500;
			    margin: 0 0 5px 0;
			}
			input[type="text"], select {
				border-radius: 5px;
				border: 0px;
				box-shadow: 0px 0px 3px #ccc;
				padding: 10px;
    			width: 100%;
			    font-size: 12px;
    			&:focus {
    				outline: 0px;
    			}
			}
		}
	}
	.property-location {
		.form-area {
		    margin: 10px 0;
		}
	}
	.property-features {
		.form-area {
		    margin: 10px 0;
		    input[type="checkbox"] {
	    	    margin-right: 5px;
		    }
		    label {
		    	cursor: pointer;
		    }
		}
	}
	.property-details {
		.form-area {
		    margin: 10px 0;
		}
	}
	.google-map {
		.map-latitude {
			.form-area {
				margin: 10px 0;
				input[type="submit"] {
					border: 0;
				    background: goldenrod;
				    border-radius: 5px;
				    color: #fff;
				    padding: 10px;
				    width: 100%;
				    margin: 20px 0;
				}
			}
		}
	}
	.property-media {
		label {
			cursor: pointer;
		    background: #f3f3f3;
		    width: 100%;
		    text-align: center;
		    padding: 50px;
			input[type=file] {
			    display: none;
			}
			h3 {
				margin: 20px 0 0 0;
			}
			i {
				font-size: 20px;
			}
		}
	}
	.property-submit {
		input[type="submit"] {
			border: 0;
		    background: goldenrod;
		    border-radius: 5px;
		    color: #fff;
		    padding: 10px;
		    width: 20%;
		    margin: 20px 0;
		}
	}
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #ccc;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }