.detail-collection {
    margin: 20px auto;
    .gallery-view {
	    padding: 0;
	    .estate-name {
	    	h3 {
			    margin: 20px 0;
			    color: #7f7f7f;
			}
			h5 {
			    margin: 15px 0;
			    color: #7f7f7f;
			    font-weight: 300;
			}
			.pull-right {
			    text-align: right;
		    	float: right;
		    	h4 {
				    margin: 7px 0 10px;
				    color: red;
				    font-size: 21px;
				}
				button {
				    display: inline-block;
				    float: right;
				    margin-left: 20px;
				    border-radius: 50px;
				    padding: 9px;
				    width: 41px;
				}
				.dropdown-menu {
				    top: 45px;
				    left: -14em;
				    padding: 10px;
				    min-width: 300px;
				    a {
				    	font-size: 16px;
					    background: goldenrod;
					    color: #fff;
					    padding: 7px;
					    border-radius: 50px;
					    width: 35px;
					    display: inline-block;
					    text-align: center;
					    margin: 0 15px;
				    }
				}
		    }
	    }
	    .gall-maps {
	    	.nav-tabs {
	    		li {
	    			a {
    					border: 0;
					    color: #333;
					    &:hover {
				    	    background: transparent;
					    }
	    			}
	    			&.active {
	    				a {
	    					color: goldenrod !important;
    						border-bottom: 2px solid goldenrod !important;
	    				}
	    			}
	    		}
	    	}
	    	.container-fluid {
			    padding: 0;
			    .owl-nav {
					button {
					    position: absolute;
					    top: 37%;
					    left: 25px;
					    span {
						    font-size: 75px;
						    color: #ccc;
						}
					}
					button.owl-next {
					    right: 25px;
					    left: auto;
					}
				}
			}
			.select-map {
				padding: 0px;
				margin: 10px 0;
				.select-place {
					padding: 0px;
				}
				.checks-id {
					padding: 0px;
				    background: rgba(0,0,0,.05);
				    label {
				    	padding: 15px;
					    border-bottom: 1px solid #cccc;
					    width: 100%;
					    input {
				    	    margin-right: 5px;
					    }
				    }
				}
			}
	    }
	    .detail-aminities {
			ul {
			    padding: 0;
			    li {
		    	    display: inline-block;
				    width: 24%;
				    margin: 15px 0;
				    font-size: 15px;
				    color: #7f7f7f;
				    i {
			    	    margin-right: 5px;
		    	        color: goldenrod;
				    }
			    }
			}
		}
	}
	.margeted-by {
		.property-from {
		    text-align: center;
		    padding: 25px;
		    border: 1px solid #ccc;
		    border-radius: 5px;
		    span {
	    	    display: block;
    	        color: red;
    			font-weight: bold;
		    }
		    a {
		    	background: goldenrod;
			    display: block;
			    margin: 20px 20px 0;
			    padding: 10px;
			    color: #fff;
			    border-radius: 5px;
		    }
		}
		.marketed-by {
		    padding: 25px;
		    border: 1px solid #ccc;
		    border-radius: 5px;
		    margin: 20px 0;
		    h3 {
	    	    margin: 0px 0 10px;
    			font-size: 21px;
		    }
		    .list-name {
			    margin: 15px 0;
			    span {
			    	margin: 10px 20px 0 0;
    				color: #7f7f7f;
			    }
			}
			p {
				color: red;
			}
			a {
				display: inline-block;
			    margin: 0 7px;
			    background: #DAA520;
			    width: 27%;
			    padding: 8px;
			    border-radius: 20px;
			    color: #fff;
			    font-size: 13px;
		        text-align: center;
		        i {
		        	margin-right: 5px;
		        }
			}
		}
		.req-details {
			padding: 25px;
		    border: 1px solid #ccc;
		    border-radius: 5px;
		    margin: 20px 0;
		    h3 {
	    	    margin: 0px 0 10px;
    			font-size: 21px;
		    }
		    label {
	    	    width: 100%;
    	        margin-bottom: 15px;
	    	    input {
	    	    	padding: 10px 0;
				    width: 100%;
				    border: 0;
				    border-bottom: 1px solid #cccc;
	    	    }
	    	    textarea {
				    width: 100%;
				    resize: none;
				}
		    }
		    input[type=submit] {
			    background: goldenrod;
			    border: 0;
			    padding: 10px;
			    color: #fff;
			    text-transform: capitalize;
			    width: 100%;
			    border-radius: 5px;
			}
		}
		.mortage-calci {
			padding: 25px;
		    border: 1px solid #ccc;
		    border-radius: 5px;
		    margin: 20px 0;
		    h3 {
	    	    margin: 0px 0 10px;
    			font-size: 21px;
		    }
		    ul {
	    	    padding: 0;
	    	    li {
	    	    	display: inline-block;
    				width: 49%;
				    margin: 0px 0px 30px;
    				h4 {
					    font-size: 14px;
    				}
    				input {
    					border: 0;
					    border-bottom: 1px solid #cccc;
					    width: 90%;
					    font-size: 13px;
    				}
	    	    }
	    	    input[type=submit] {
				    background: goldenrod;
				    border: 0;
				    padding: 10px;
				    color: #fff;
				    text-transform: uppercase;
				    width: 100%;
				    border-radius: 5px;
				}
		    }
		}
	}
}
.similar-areana {
    background-color: transparent !important;
    .home-section {
	    padding: 0;
	    .resiential-properties {
	    	.each-props {
			    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
			    border-radius: 5px;
		        width: 32%;
    			margin-right: 1% !important;
			    margin-bottom: 20px;
		        figure {
	        	    width: 92%;
		        }
		        ul {
		        	li {
	        		    margin: 0 17px;
		        	}
		        }
			}
	    }
	}
}