.adding-banner {
    background: rgba(218, 165, 32, 0.3);
    margin-top: 20px;
    padding: 50px 0;
    position: relative;
    &:before {
    	content: "";
	    background: url(../../dist/images/svg/banner.svg) rgba(218, 165, 32, 0);
	    position: absolute;
	    width: 100%;
	    top: 0;
	    left: 0;
	    height: 100%;
	    z-index: -1;
	    opacity: 0.2;
        background-attachment: fixed;
    	background-size: 17%;
    } 
}
.listing-area {
    position: static;
    margin-bottom: 10px;
    .search-result {
    	select {
	        border-right: 1px solid rgba(0, 0, 0, 0.2);
    	}
    	input {
    		padding: 14px;
		    border: 1px solid #00000000;
    	}
    	button {
		    padding: 14px;
    	}
    }
}
.sorting-results {
    border-top: 1px solid #cccccc4d;
    .resident-property {
	    padding: 20px;
	    .furnish-search {
		    display: inline-block;
		     button {
			    background: goldenrod;
			    border: 0;
			    box-shadow: none;
			    color: #fff;
			    padding: 10px 25px;
			    border-radius: 50px;
			    i {
			    	margin-right: 5px;
			    }
			}
			.dropdown-menu {
				a {
				    display: block;
				    margin: 10px;
				}
			}
		}
	}
}
.change-name {
	.list-style {
	    display: none;
	}
	.grid-style {
	    display: block !important;
	}
}
.listing-space {
    background: #fff !important;
    .home-section {
    	.resiential-properties {
    		.each-props {
			    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
			 	border-radius: 5px;
    		}
    	}
    	.change-view {
		    width: 75% !important;
			.each-props {
			    width: 97%;
			    padding: 0;
			    border-radius: 0;
			    margin-right: 0 !important;
		        margin: 15px 0;
			    figure {
				    position: static;
				    float: left;
			        width: 45%;
				    img {
					    margin: 0;
					    border-radius: 0;
					}
				}
				small {
				    font-size: 21px;
				}
				.txt-right {
				    float: right;
			        padding: 11px;
				    width: 55%;
				    h3 {
				    	margin: 0px;
				    }
				}
			}
		}
		.change-width {
    	    width: 65%;
    	    .each-props {
			    width: 97%;
			    padding: 0;
			    border-radius: 0;
			    margin-right: 0 !important;
		        margin: 15px 0;
			    figure {
				    position: static;
				    float: left;
			        width: 45%;
				    img {
					    margin: 0;
					    border-radius: 0;
					}
				}
				.txt-right {
				    float: right;
			        padding: 11px;
				    width: 55%;
				    h3 {
				    	margin: 0px;
				    }
				}
			}
		}
		.increase-width {
		    width: 34%;
		    .right-add {
		    	display: none;
		    }
		    .right-map {
	    	    display: block !important;
		    }
		}
		.increase-view {
		    width: 25%;
		}
    }
}