.property-userdashboard {
    background: transparent;
	ul.nav-tabs {
		li {
			a {
			    &:hover {
			    	background-color: transparent;
			    }
			}
			&.pull-right {
				a {
					border: 0;
				    background: goldenrod;
				    border-radius: 5px;
				    color: #fff;
					&:hover {
				    	border: 0;
				    }
				}
			}
		}
	}
	.tab-content {
		#my_properties {
			.property-types {
				ul.nav-tabs {
				    border: 0;
				    padding: 10px 0;
				    margin: 10px 0;
				    border: 1px solid rgba(204, 204, 204, 0.2);
					li {
						a {
							border: 0;
						    &:hover {
						    	background-color: transparent;
						    	border: 0px;
						    }
						}
						&.pull-right {
						    margin: 0px 10px 0;
						    width: 30%;
						    label {
				    	    	width: 100%;
			    	    	    margin-bottom: 0;
				    	    	input {
				    	    		width: 75%;
								    padding: 11px;
								    float: left;
								    border-top-left-radius: 5px;
								    border-bottom-left-radius: 5px;
								    border: 1px solid #ccc;
								    border-right: 0;
								    &:focus {
							    	    outline: 0px;
								    }
				    	    	}
				    	    	button {
				    	    		float: left;
								    width: 25%;
								    padding: 11px;
								    border-top-right-radius: 5px;
								    border-bottom-right-radius: 5px;
								    border: 1px solid #ccc;
								    background: goldenrod;
								    color: #fff;
								    letter-spacing: 1px;
				    	    	}
						    }
						}
					}
				}
				table {
				    width: 100%;
				    border: 1px solid rgba(204, 204, 204, 0.2);
			        margin-bottom: 50px;
				    thead {
					    background: #f5f5f5;
					    tr {
					    	th {
							    text-align: left;
							    padding: 15px;
							    &.heading-title {
						    	    width: 50%;
							    }
							}
					    }
					}
					tbody {
						tr {
						    border-bottom: 1px solid rgba(204, 204, 204, 0.2);
							td {
							    padding: 10px 0 5px 0;
								figure {
								    width: 150px;
								    height: 125px;
								    overflow: hidden;
								    display: flex;
								    align-items: center;
								    justify-content: center;
							        margin: 0 10px;
								}
								.property-title {
									h3 {
									    margin: 0 0 10px;
									    font-size: 17px;
									    color: #daa520;
									}
									h4 {
									    color: #ccc;
									    font-size: 13px;
									    font-weight: 500;
									    line-height: 25px;
									}
									a {
										background: #daa520;
    									color: #fff;
									    margin: 0 10px 0 0;
									    padding: 7px 19px;
									    border-radius: 3px;
									    font-size: 13px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.profile-area {
	ul {
		background: #f5f5f5;
	    margin: 10px 0;
	    border: 0;
        border-radius: 5px;
        padding: 0;
        h3 {
        	border-bottom: 1px solid #daa520;
		    margin: 0 0 10px;
		    padding: 10px 20px;
		    display: block;
		    font-size: 20px;
		    color: goldenrod;
        }
		li {
		    display: block;
    		float: none;
    		a {
			    border: 0 !important;
		        background: transparent !important;
	            border-radius: 0px;
    		}
    		&.active {
    			a {
    				border-left: 5px solid goldenrod !important;
    			}
    		}
		}
	}
	.epic-profile {
		background: #f5f5f5;
	    margin: 10px 0;
	    border: 0;
        border-radius: 5px;
        padding: 0;
        display: inline-block;
        width: 100%;
        h3 {
        	border-bottom: 1px solid #daa520;
		    margin: 0 0 10px;
		    padding: 10px 20px;
		    display: block;
		    font-size: 20px;
		    color: goldenrod;
        }
        .back-fixed {
		    padding: 20px;
		    figure {
		    	display: flex;
			    width: 100%;
			    height: 200px;
			    justify-content: center;
			    overflow: hidden;
		        position: relative;
		        &:after {
		        	content: "";
				    background: rgba(218, 165, 32, 0.5);
				    position: absolute;
				    top: 0;
				    width: 100%;
				    height: 200px;
		        }
			    img {
		    	    margin: 0;
			    }
		    }
		}
		.profile_pic {
			padding: 20px;
			position: relative;
		    figure {
		    	display: flex;
			    width: 150px;
			    height: 150px;
			    justify-content: center;
			    overflow: hidden;
		        position: absolute;
			    top: -8em;
   				left: 42%;
				border-radius: 50%;
    			align-items: center;
			    border: 3px solid goldenrod;
		    }
		}
		.update-profile, .update-password {
		    padding: 20px;
		    display: inline-block;
		    width: 100%;
		    .form-area {
			    padding: 15px;
			    input{
			    	border-radius: 5px;
				    border: 0px;
				    -webkit-box-shadow: 0px 0px 3px #ccc;
				    box-shadow: 0px 0px 3px #ccc;
				    padding: 10px;
				    width: 100%;
				    font-size: 12px;
			    }
			}
			.form-submit {
				padding: 15px;
				display: inline-block;
    			width: 100%;
				input.form-cancel {
					padding: 10px;
				    width: 17%;
				    border-radius: 5px;
				    border: 2px solid goldenrod;
				    color: goldenrod;
				    background: #fff;
			        margin-right: 20px;
				}
				input.form-save {
					background: goldenrod;
				    border: 2px solid goldenrod;
				    color: #fff;
				    padding: 10px;
				    width: 17%;
				    border-radius: 5px;
				}
			}
		}
	}
}
.profile-area .epic-profile .update-password .form-area {
    display: block;
    float: none;
}
.profile-area .epic-profile .update-password {
   padding: 10px 20px;
}